@using Sandbox;
@using Sandbox.UI;
@inherits Hud

<root>
	<div class="energybar">
		<div class="fill @((Owner.EnergyContainer.IsExhausted) ? "exhausted" : "")" @ref="EnergyFill"> </div>
	</div>

	<div class="hotbar">
		@for(int i = 0; i < Owner.Inventory.Slots.Length; i++)
		{
			<div class="slot @((Owner.Inventory.ActiveSlot == i) ? "active" : "")">

			</div>
		}
	</div>

</root>

@code
{
	Panel EnergyFill { get; set; }

	protected override void OnUpdate()
	{
		base.OnUpdate();

		if(Owner == null) { return; }

		EnergyFill.Style.Width = Length.Percent(Owner.EnergyContainer.CurrentEnergy / EnergyContainer.MaxEnergy * 100f);

	}

	protected override int BuildHash() 
	{
		return System.HashCode.Combine(
			Owner.EnergyContainer.CurrentEnergy,
			Owner.Inventory?.ActiveSlot
		);
	}
}
