@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

	<div class="text">BALANCE $@LethalGameManager.Instance.Balance / $1021</div>

</root>

@code
{

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);

}
