TerminalHud {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
	border: 7px black;
	align-items: flex-start;
	gap: 2px;
	flex-direction: column;
	letter-spacing: 1.5px;
	pointer-events: all;

	.textLine {
		height: 9px;
        font-size: 6px;
        font-family: VT323;
		color: #00FF00;
		letter-spacing: 0.8px;
	}

}
