@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

	<div class="textline">@Owner.PageInfo</div>
	<div class="textline"></div>

	@for (int i = 0; i < TerminalComponent.PageLineCount; i++)
	{
		if (Owner.PageStartLine + i >= Owner.TextLines.Count) { break; }

		<div class="textline">@Owner.TextLines[Owner.PageStartLine + i]</div>
	}

	<div class="textline"></div>
	<div class="textline">>@TextEntry.InputText@(Owner.ShowCursor ? "|" : "")</div>

</root>

@code
{

	public TerminalComponent Owner { get; set; }

	public TerminalTextEntry TextEntry { get; private set; } = new TerminalTextEntry();

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Owner?.TextLines, Owner?.TextLines.Count, Owner?.ShowCursor, TextEntry.InputText);


	public void Focus(bool focus) {
		if(focus) {
			TextEntry.Focus();
		}
		else {
			InputFocus.Clear(TextEntry);
		}

	}

}
